.reveal
  .slides
    section(data-state="title")
      h1 JUnit5 vs. Spock vs. Spek
      h2 Nebraska.code()
    section(*ngFor="let slideDeck of slides;")
      section(*ngFor="let slide of slideDeck")
        dynamic-html([content]="slide")
    section(data-state="title")
      h1 Thanks!
      h2 Any questions?
